.loginForm {
  position: relative;
  z-index: 1;
  background: #dddaddb1;
  max-width: 560px;
  border-radius: 20px;
  margin: 30px auto 100px;
  padding: 35px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.textContainer {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 20px;
}