.fontFamilyText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.favoriteBtn{
  border: none;
  display: flex;
  align-items: center;
  background: #1d8aea00;
  transition: ease-in-out 500ms;
}
.favoriteBtn:hover,
.favoriteBtn:focus{
  scale: 1.3;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.itemName {
  composes: fontFamilyText;
  margin-left: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;
}

.itemName {
  composes: itemName;
  color: #010101;
}

.itemName:hover,
.itemName:focus {
  color: #1d8bea;
}

.span {
  position: absolute;
  margin-left: 4px;
}

.spanOut {
  position: absolute;
  margin-right: 10px;
}

.btnText {
  margin-right: 3px;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  text-decoration: none;

}

.btn {
  padding: 4px 40px 4px 20px;
  margin-left: 40px;
  margin-right: 20px;
  background-color: #1d8bea;;
  border-radius: 10px;
  border: none;

}

.btn:hover,
.btn:focus {
  background-color: #093ec5e4;
  color: white;
}
