.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.text {
  font-size: 24px;
  font-weight: 700;
}

.linkContainer {
  display: flex;
  align-items: center;
  color: rgb(9 114 235 / 75%);
  font-size: 20px;
  text-decoration: none;
}

.link {
  margin-right: 7px;
}

.linkContainer:hover,
.linkContainer:focus {
  color: rgb(9 114 235 / 75%);
}